/Lab1/gmon.out
/Lab1/nbody_basic
/Lab1/nbody_red
/Lab1/mpi_nbody_basic
/Lab1/mpi_nbody_red
/Lab1/output
/Lab1/profiling.txt

/Lab2/gmon.out
/Lab2/nbody_basic
/Lab2/nbody_red
/Lab2/mpi_nbody_basic
/Lab2/mpi_nbody_red
/Lab2/output
/Lab2/profiling.txt

buffer*
.vscode
/Lab1/log
