mpi/Lab1/gmon.out
mpi/Lab1/nbody_basic
mpi/Lab1/nbody_red
mpi/Lab1/mpi_nbody_basic
mpi/Lab1/mpi_nbody_red
mpi/Lab1/output
mpi/Lab1/profiling.txt
mpi/Lab1/log

mpi/Lab2/gmon.out
mpi/Lab2/nbody_basic
mpi/Lab2/nbody_red
mpi/Lab2/pth_nbody_basic
mpi/Lab2/pth_nbody_red
mpi/Lab2/output
mpi/Lab2/profiling.txt

buffer*
.vscode
